<div class="product-details-wrapper">
  <div class="product-short-description">
    <div class="product-image">
      <img src="/assets/images/certificates/{{certificate?.id%10}}.jpg" alt="{{certificate?.name}}">
    </div>
    <div class="product-description-container">
      <div class="name">
        <span>Certificate name:</span>
        <h4>{{certificate?.name}} days</h4>
      </div>
      <div class="duration">
        <span>Certificate duration:</span>
        <h4>{{certificate?.duration}} days</h4>
      </div>
      <div class="cart">
        <h2>{{certificate?.price | currency}}</h2>
        <a (click)="addCertificateToCart(certificate)"
           *ngIf="hasSmthRole && !hasAdminRole">
          Add to Cart <i class="material-icons">shopping_cart</i>
        </a>
      </div>
    </div>
  </div>
  <div>
    <div class="product-long-description">
      <h3>Certificate description:</h3>
      <p>{{certificate?.description}}</p>
    </div>
    <button mat-button
            class="btn btn-checkout"
            (click)="redirectToCertificatesPage()"
    >Catalog
    </button>
  </div>

</div>
