.category-container {
  background: #e0e0e0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 5%;
  margin: 0;
}

.search-form {
  background: #e0e0e0;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit {
  height: 51px;
  width: 127px;
  text-transform: uppercase;
  float: right;
  color: white;
  background: green !important;
  text-align: center;
}

.btn-add {
  height: 51px;
  width: 100%;
  text-transform: uppercase;
  color: #828282;
  background: white !important;
  text-align: center;
  border: 1px solid #828282;
}

.btn-clear {
  height: 51px;
  width: 127px;
  text-transform: uppercase;
  float: right;
  color: red;
  background: white !important;
  border: 1px solid red;
  text-align: center;
}

.caption {
  display: block;
  color: #828282;
  font-weight: 600;
  font-size: 18px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 20px auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 10px 5px;
}

.product-card hr {
  width: 100%;
  border-top: 1px solid #d3d3d3;
}

.product-name-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.product-name-container.product-name {
  cursor: pointer;
  display: inline-block;
  width: 250px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-name-container.product-name a {
  color: #4f4f4f;
  text-decoration: none;
  transition: all .5s ease;
}

.product-name-container.product-name a:hover {
  color: green;
}

.product-name-container.product-name a:visited {
  color: #609
}

.description {
  min-height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  font-weight: 600;
  color: #4f4f4f;
  width: 250px;
}

.description p {
  margin: 0;
}


.product-price {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-price h3 {
  margin: 0;
  padding: 5px 0;
}

.product-price.btn-cart {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0 10px;
  color: #9a9a9a;
  border: 1px solid #d9d9d9;
  background-color: white;
  transition: all 0.3s ease 0s;
}

.product-image {
  margin: 0 auto;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  margin-top: auto;
  padding: 0 10px;
}

.btn-show-more-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-show-more {
  color: #4f4f4f;
  font-size: 16px;
  background-color: white;
  border: 1px solid #4f4f4f;
}

  .product-card {
    flex-basis: 274px;
  }

  .input-group {
    width: 100%;
  }

  .btn-clear {
    margin-bottom: 20px;
  }

