<div class="search-container">
  <div class="search-form">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="input-group">
        <mat-label>Categories</mat-label>
        <mat-select multiple formControlName="categories">
          <mat-option *ngFor="let category of allTags | async" [value]="category.name">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-group">
        <mat-label>Certificate Name</mat-label>
        <input matInput type="text" placeholder="Search by item name" formControlName="name">
      </mat-form-field>

      <mat-label>Price</mat-label>
      <mat-slider class="input-group" thumbLabel
                  formControlName="price"
                  step="1"
                  min="0"
                  max="{{maxPrice}}"
                  aria-label="units">
      </mat-slider>

      <mat-label>Duration</mat-label>
      <mat-slider class="input-group" thumbLabel
                  formControlName="duration"
                  step="1"
                  min="0"
                  max="{{maxDuration}}"
                  aria-label="units">
      </mat-slider>

      <button mat-button class="btn-submit input-group">
        Search
      </button>
      <div>
        <button mat-button class="btn-add input-group"
                (click)="redirectToNewCertificate()"
                *ngIf="isAdminRole">Add certificate
        </button>
      </div>
    </form>
  </div>
</div>

<div class="content" *ngIf="certificates.length > 0">

  <div id="products" class="products">
    <div class="product-card" *ngFor="let certificate of certificates">
      <div class="product-image">
        <img src="/assets/images/coupons/{{certificate.id%10}}.jpg" alt="{{certificate.name}}">

      </div>

      <div class="product-info">
        <div class="product-name-container">
          <div class="product-name">
            <a (click)="redirectToCertificateDetails(certificate.id)">{{certificate.name}}</a>
          </div>

          <div class="btn button-icon-edit">
            <button mat-button
                    (click)="redirectToEditCertificatePage(certificate.id)"
                    *ngIf="isAdminRole">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="btn button-icon-delete">
            <button mat-button
                    (click)="openDeleteConfirmationDialog(certificate)"
                    *ngIf="isAdminRole">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <div class="description">
          <p>{{certificate.description}}</p>
        </div>
      </div>
      <hr>
      <div class="product-info">
        <div class="product-price">
          <div>
            <h3>{{certificate.price | currency}}</h3>
          </div>
          <div>
            <button mat-button class="btn-cart"
                    (click)="addCertificateToCart(certificate)"
                    *ngIf="isUserRole">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-show-more-container">
      <button mat-button class="btn-show-more"
              (click)="showMoreCertificates()"
      [disabled]="certificatesPerPage > certificates.length">
        Show more
      </button>
    </div>
  </div>
</div>

<div class="empty-content">
  <div *ngIf="certificates.length === 0">
    <h1>
      Nothing was found for your search!
    </h1>
  </div>
</div>
