<div class="content-wrapper">
  <div class="login-form">
    <div class="logo">Logo</div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Login</mat-label>
          <input matInput
                 type="text"
                 formControlName="login"
          >
          <mat-error *ngIf="loginForm.get('login').hasError('required')">
            Login is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Password</mat-label>
          <input matInput
                 type="password"
                 formControlName="password"
          >
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <button mat-button
                type="submit"
                class="submit-btn">Login</button>
      </div>
    </form>
  </div>
</div>
