.certificate-form-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.header {
  color: white;
  background-color: #bdbdbd;
}

.title {
  width: 67%;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 20px;
}

.body {
  font-size: 14px;
  color: gray;
}

.certificate-form {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
}

.column {
  flex-basis: 50%;
  flex-grow: 1;
  padding: 20px 20px;
}

.description {
  resize: none;
  height: 92px;
}

.category-container {
  margin-bottom: 20px;
  max-width: 460px;
  font-weight: 600;
}

.category-container.category {
  width: 30%;
  padding: 5px 0;
  margin: 5px 0;
}

.btn-group {
  padding-top: 10px;
  display: flex;
}

.btn {
  width: 48%;
}

.btn-cancel {
  margin-right: 4%;
  color: #9a9a9a;
  border: 1px solid #d9d9d9;
  background-color: white;
}

.btn-submit {
  color: white;
  border: none;
  background-color: #51cd51;
}
